<{strip}>
<div id="multimedia_top_main<{$id}>" class="outerdiv">
	<{if $action.item_count > 0}>
		<div class="align-right">
			<{$lang.multimedia_total_count|sprintf:$action.item_count}>
		</div>
		<{if $action.item_count > 1}>
			<{include file="multimedia_view_main_toolbar.html" from="search" position="head"}>
		<{/if}>
		<ul class="multimedia_list_ul">
			<{foreach item=item from=$action.item_list}>
				<li class="multimedia_list_row">
					<table class="widthmax">
						<tr>
							<td class="multimedia_search_thumbnail">
								<{include file = "multimedia_view_main_item_thumbnail.html"}>
							</td>
							<td class="valign-top">
								<{include file = "multimedia_view_main_item_info.html" from = "search"}>
							</td>
						</tr>
					</table>
				</li>
			<{/foreach}>
		</ul>
		<{if $action.item_count > 1}>
			<{include file="multimedia_view_main_toolbar.html" from="search" position="foot"}>
		<{/if}>
	<{else}>
		<{$lang.multimedia_search_no_item|smarty:nodefaults}>
	<{/if}>
	<div class="hr"></div>
	<div class="btn-bottom">
		<input class="btn-width" type="button" value="<{$lang._back_to_list}>" onclick="commonCls.sendView('<{$id}>', {action:'multimedia_view_main_init'});" />
	</div>
</div>
<{/strip}>